.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

.App-header {
  margin-left: 25%;
  width: 50%;
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 12.5rem;
}

.App-link {
  color: #61dafb;
}

.ButtonWrapper input{
  background-color: #d6d6d6;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: #282c34;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.ButtonWrapper input:hover {
  background-color: #282c34;
  color: #d6d6d6;
}

.ButtonWrapper button {
  background-color: #d6d6d6;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: #282c34;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;

}

.InfoWrapper > * {
  font-weight: 100;
}