* {
  cursor: url(https://cdn.custom-cursor.com/db/9958/32/minimal-pokeball-cursor.png) , default !important;
}

.App {
  text-align: center;
  background-color: #ffffff;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

.App-header {
  width: fit-content;
  margin: auto;
}

.card {
  min-width: fit-content;
  background-color: #eff3ff;
  padding: 6px 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  margin: 2rem;
}
.card img {
  display: block;
  width: 180px;
  max-height: 200px;
  position: relative;
  margin: 20px auto;
}

.h1 {
  padding-top: 12px;
  margin: auto;
}

.ButtonWrapper input{
  background-color: #d6d6d6;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  color: #282c34;
  cursor: url(https://cdn.custom-cursor.com/db/9957/32/minimal-pokeball-pointer.png) , pointer !important;
  transition: all 0.3s ease-in-out;
  text-align: center;  
}

.ButtonWrapper input:hover {
  background-color: #282c34;
  color: #d6d6d6;
}

.ButtonWrapper button {
    display: block;
    padding: 15px 60px;
    font-size: 18px;
    background-color: #101010;
    color: #ffffff;
    position: relative;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
    cursor: url(https://cdn.custom-cursor.com/db/9957/32/minimal-pokeball-pointer.png) , pointer !important;
}

.InfoWrapper > * {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.poke-name {
  text-align: center;
  font-weight: 800;
}

.types {
  text-align: center;
  width: fit-content;
  padding: 8px 12px; 
  border-radius: 30px;
  margin: 0 auto;
  font-weight: 400;
  
}

.height-weight-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; 
}

.height,
.weight {
  margin-top: -2px;
  padding-left: 10px;
}